

body {
  margin: 0;
  
  $color-blanco:  #F9F9F9;
  $verde-claro: #7A9847;
  $verde-fuerte:#034C3D;
  $color-amarillo: #F6BB50;
  $color-rojo:#D25D67;
  box-sizing: border-box;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
